/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace views "ro.stancalau.dpi.views.*";


.treeStyle{
	color: #119911;
}

@media (application-dpi: 160)  { 
	.treeStyle{
		fontSize: 12px;
	}	
	
}
@media (application-dpi: 240)  {
	.treeStyle{
		fontSize: 18px;
	}	
}
@media (application-dpi: 320)  {
	.treeStyle{
		fontSize: 24px;
	}	
}
